
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://10.0.1.102:3033/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 
