//web.config file at root directory of project (next to package.json)
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:3033/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 
